/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Base Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #A0C1FF;
  color: #1a1a1a;
}

/* Container Styles */
.container {
  max-width: 90.5%;
  margin: 50px auto;
  padding: 20px;
  background: #80ADFF;
  box-shadow: 0 0 25px #ffaf727e;
  border-radius: 10px;
}

/* Tense Container Styles */
.tense-container {
  margin-bottom: 20px;
}

.tense-container h2 {
  color: #F5F5F5;
  margin-bottom: 10px;
}

/* Tables Container Styles */
.tables-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
  flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.table-column {
  flex: 1; /* Equal width for both columns */
  padding: 5px; /* Add padding for better readability */
  margin: 5px;
  min-width: 280px; /* Ensure columns don't get too small on mobile */
}

/* Table Styles */
table {
  width: 100%;
  /* border-collapse: collapse; */
}

th, td {
  padding: 5px; /* Adjust padding for consistency */
  /* border: 1px solid #A65C25; */
  text-align: left;
}

th {
  background: #B22222;
  color: #F5F5F5;
}

td {
    background-color: #FFF1B2;
    /* box-shadow: 0 0 2px #F5F5F5; */
}

.pronoun {
  text-indent: 2px;
  text-align: left;
  background-color: #FFAE72;
  color: #F5F5F5;
  width: 170px;
  font-weight: bold;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 15px;
  filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
  /* box-shadow: 1px 1px 3px #f5f5f580; */
}

.conjugation {
  text-indent: 4px;
  background: #F5F5F5;
  color: #FFAE72;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
  /* box-shadow: 1px 1px 3px #ffaf72; */
}

.placeholder {
  text-align: left;
  background-color: #FFAE72;
  color:  #F5F5F5;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 25px;
  filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #F5F5F5;
    filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
}

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFAE72;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #ff9d52;
    outline: none; /* Убирает стандартное синее обрамление */
    /* border-top-left-radius: 15px;
    border-bottom-right-radius: 25px; */
}

input[type="text"]:focus,
select:focus {
    /* border-color: #ff5252; Изменяет цвет обрамления при фокусировке */
    box-shadow: 0 0 10px 1px #ff9d52; /* Добавляет тень при фокусировке */
    /* border-bottom-right-radius: 0px; */
}

input[type="submit"] {
    padding: 10px;
    background: #FFAE72;
    color: #F5F5F5;
    border: 1px solid #B9D2FF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

input[type="submit"]:hover {
    background: #ff9d52;
    box-shadow: 0 0 10px 1px #F5F5F5;
}

/* Heading Styles */
h1 {
    color: #F5F5F5;
    filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
}

h2 {
    color: #8B4513;
    filter: drop-shadow(0.1px 0.1px 0.5px #2A55A6);
}

a {
    color: #F5F5F5;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    filter: drop-shadow(1px 1px 3px #2A55A6);
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  .tables-container {
    flex-direction: column; /* Stack tables vertically on small screens */
  }

  .table-column {
    margin: 0 auto 10px; /* Center tables and add spacing */
    min-width: 100%; /* Ensure full width for each column */
  }
}

@media (max-width: 480px) {
  .tense-container h2 {
    font-size: 18px; /* Reduce font size for headings on very small screens */
  }

  .container {
    margin: 10px;
    padding: 10px;
  }

  input[type="text"],
  select {
    padding: 8px; /* Reduce padding for inputs */
  }

  input[type="submit"] {
    padding: 8px;
  }
}
